#projects {
  a {
    text-decoration: none;
    color: inherit;
  }

  .card {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1px 30px;
    display: block;
  }

  .columns {
    margin-bottom: 40px;
    
    &:last-child {
      flex-direction: column;
      align-items: flex-end;

      >a {
        padding: 10px 30px;
        border-radius: 10px;
        background-color: #302C76;
        color: white;
      }
    }
    .column {
      padding: 0 20px;
      
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      @media (max-width: 575px) {
        padding: 0;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}