@tailwind base;
@tailwind components;
@tailwind utilities;

.width-large {
  width: 90%;
  max-width: 1200px;
}

.width-regular {
  width: 80%;
  max-width: 1000px;
}

.width-small {
  width: 70%;
  max-width: 800px;
}
