@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500|Raleway&display=swap");

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

@media (max-width: 575px) {
  .columns {
    display: block;
  }
}

html {
  font-size: 130%;
  font-family: "Raleway", sans-serif !important;
}

.text-1 {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.text-2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.elevatable {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 12px 40px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
  }
}

.accent-background {
  background-color: #302c76;
  position: relative;
  color: white;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    // mask: url('../assets/topography.svg');
    mask: url("../assets/circuit-board.svg");
  }
  > * {
    position: relative;
  }
}

.full-box {
  overflow: auto;
}

.chip {
  padding: 0.2rem 0.5rem;
  box-sizing: border-box;
  border: 1px solid white;
  font-size: 0.8rem;
  border-radius: 1rem;
  margin-right: 10px;
}

h3 {
  a {
    color: inherit;
  }
}

h2 {
  text-align: center;
}
