@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Raleway&display=swap');

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

@media (max-width: 575px) {
  .columns {
    display: block;
  }
}

html {
  font-size: 130%;
  font-family:  'Raleway', sans-serif !important;
}

.text-1 {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.text-2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}