@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Raleway&display=swap');

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

@media (max-width: 575px) {
  .columns {
    display: block;
  }
}

html {
  font-size: 130%;
  font-family:  'Raleway', sans-serif !important;
}

.text-1 {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.text-2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.elevatable {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
  }
}