#home {
  .hero {
    width: 100%
  }
  .container {
    .column:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  p {
    margin: 0;
  }

  .links {
    margin-top: 0.3rem;
  }
}